{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {% for result in array %}
            <div class="col">
                <h3>{{ result.data.title }}</h3>
                 <img src="{{ result.data.thumbnail }}">
                <p><b>автор: </b>{{ result.data.author }}</p>
                <p>{{ result.data.created_utc | date("Y-m-d") }}</p>
                <a href="{{ path('favorites', { post_name: result.data.name } ) }}" class="btn btn-primary">Добавить в избранное</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block title %}

{% endblock %}

