{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <br>
    <br>
    <br>
    <div class="row">

        <div style="position: absolute; top: 20px; right:30px;">
            <a href="{{ path('main_page') }}" class="btn btn-primary">На главную</a>
            <a href="{{ path('my_favorites') }}" class="btn btn-info">Мои избранные</a>
            <a href="{{ path('group_favorites') }}" class="btn btn-warning">Избранные сообщества</a>
            <a href="/logout" class="btn btn-danger">Выход</a>
        </div>
        {% for result in results %}

            <div class="col-4">
                <h3>{{ result.data.title | truncate(20) }}</h3>
                {% if result.data.thumbnail == 'self' or result.data.thumbnail == 'default' %}
                    <a href="{{ path('details', { id: result.data.name} ) }}">  <img src="https://renderman.pixar.com/assets/camaleon_cms/image-not-found-4a963b95bf081c3ea02923dceaeb3f8085e1a654fc54840aac61a57a60903fef.png"
                                                                                     alt="not_found" width="140" height="105"></a>
                {% else %}
                    <a href="{{ path('details', { id: result.data.name} ) }}"> <img src="{{ result.data.thumbnail }}"></a>
                {% endif %}
                <p><b>автор: </b>{{ result.data.author }}</p>
                <p>{{ result.data.created_utc | date("Y-m-d") }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

