{% extends 'base.html.twig' %}

{% block body %}
    <h1>Profile Page</h1>
    <h3>Вы авторизовались как {{ user.name }}</h3>
    <br>
    <br>
    <div style="position: absolute; top: 20px; right:30px;">
        <a href="{{ path('main_page') }}" class="btn btn-primary">На главную</a>
        <a href="/logout" class="btn btn-danger">Выход</a>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

